h1{
	color: #020263;
}


.topButton {
	background-color: #0303A4;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1 solid black;
    cursor: pointer;
	width: 15%;
	display: inline-block;
	float: right;
}

.topButton:hover{
	background-color: #020263;
}

.calendar{
	text-align: center;
}