h1{
	color: #020263;
}

html, body {
    height: 98%;
}

/* Dropdown Button */
.dropbtn {
    background-color: #0303A4;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1 solid black;
    cursor: pointer;
	width: 100%;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #020263;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
	width: 67%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
   /* min-width: 160px;*/
	width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.topButton {
	background-color: #0303A4;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1 solid black;
    cursor: pointer;
	width: 15%;
	height: 10%;
	display: inline-block;
	float: right;
}

.topButton:hover{
	background-color: #020263;
}

.mainMenu{
	position: fixed;
	bottom: 0%;
	height: 90%;
	width: 99%;
}

.menuButton{
    background-color: #0303A4;
    border: 1 solid black;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
	width: 100%;
	height: 20%;
	float: left;
	
}

.menuButton:hover {
    background-color: 020263;
}