/*lighter blue:  #0303A4  */
/*darker blue: #020263  */

h1{
	color: #020263;
}

body {
   background-color: white;
}

.loginContainer{
	text-align: center;
}

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 25%;
    background-color: #0303A4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1 solid black;
    border-radius: 4px;
    cursor: pointer;
	display: inline-block;
}

input[type=submit]:hover {
    width: 25%;
    background-color: #020263;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1 solid black;
    border-radius: 4px;
    cursor: pointer;
	display: inline-block;
}

button {
    width: 25%;
    background-color: #0303A4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1 solid black;
    border-radius: 4px;
    cursor: pointer;
	display: inline-block;
}

button:hover{
	background-color: #020263;
}

a:link{
	color: black;
	display: none;
}

input[type=button]{
	 width: 25%;
    background-color: #0303A4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1 solid black;
    border-radius: 4px;
    cursor: pointer;
	display: inline-block;
}