html, body {
    height: 98%;
}


body {
    background-color: white;
}

h1{
	color: #020263;
}

.header{
	width: 100%;
}

.topButton {
	background-color: #0303A4;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1 solid black;
    cursor: pointer;
	height: 10%;
	width: 15%;
	display: inline-block;
	float: right;
}

.topButton:hover{
	 background-color: #020263;
}

.mainMenu{
	position: fixed;
	bottom: 0%;
	height: 90%;
	width: 99%;
}

.mainMenuEmployeeButton {
    background-color: #0303A4;
    border: 1 solid black;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
	width: 50%;
	height: 50%;
	float: left;
	
}

.mainMenuEmployeeButton:hover {
    background-color: #020263;
}

.mainMenuAdminButton {
    background-color: #0303A4;
    border: 1 solid black;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
	width: 100%;
	height: 20%;
	float: left;
	
}

.mainMenuAdminButton:hover {
    background-color: #020263;
}