h1{
	color: #020263;
}

.topButton {
	background-color: #0303A4;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1 solid black;
    cursor: pointer;
	width: 15%;
	display: inline-block;
	float: right;
}

.topButton:hover, .topButton:focus{
	background-color: #020263;
}

.return {
	background-color: #0303A4;
    color: white;
    padding: 16px;
    font-size: 16px;
 /*   border: 1 solid blue;*/
    cursor: pointer;
	width: 20%;
	display: inline-block;
	float: right;
}

.return:hover{
	background-color: #020263;
}


.search{
	display: none;
}

.show {display:block;}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.fill{
	width: 100%;
	height: 100%;
}

a{
	color: black;
	text-decoration: none;
}

/* Dropdown Button */
.dropbtn {
    background-color: #0303A4;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1 solid black;
    cursor: pointer;
	width: 100%;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #020263;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
	width: 67%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
   /* min-width: 160px;*/
	width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}